/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {
  .noaimate-if,.noanimate-if::before,.noaimate-if::after {
    animation: none;
  }

  .notransform-if {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .invert-if {
    filter: invert(1);
  }
}